@model List<HanPerde.Models.CategoryAccessory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Aksesuar Kategori İşlemleri</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryId</td>
            <td>@x.CategoryName</td>
            <td>@x.Active</td>
            <td><a href="/AccessoryCategory/CategoryDelete/@x.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/AccessoryCategory/CategoryGet/@x.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AccessoryCategory/CategoryAdd" class="btn btn-primary">Yeni Kategori Ekle</a>
