
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İletişim</title>
</head>
<body>
    <div align="center"> <img src="/tema/assets/hanperdeimg/logo2.jpg" style="height:300px;width:300px;" alt="Alternate Text" /></div>
    
    <div style="text-align:center">
        <h1>Adres : Millet Mahallesi Akkuş Sokak No : 23/A Yıldırım/Bursa</h1>
        <h1>Tarif : Nuripek 7 Sitesi Önü.</h1>
        <h1>Telefon : 0538 924 29 11</h1>
        <h1>Mail : hanperde1@gmail.com</h1>
    </div>
   


</body>
</html>
