
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center"> <img src="/tema/assets/hanperdeimg/logo2.jpg" style="height:300px;width:300px;" alt="Alternate Text" /></div>
    <div><p>Firmamız 2022 yılında kurulmuş olup, siz değerli müşterilimizin ihtiyaçları doğrultusunda perdeler üretmektedir.</p></div>
</body>
</html>
